@using Udemy.Model
@model List<CourseViewModel>
<h1>Catalogo dei corsi</h1>

@foreach (CourseViewModel course in Model)
{
    
<div class="row">   
    <div class="col-md-1"><img src="~/logo.jpg" width="50"> </div>
    <div class="col-md-5">
            <h1>Titolo Del Corso</h1> 
            <author>Id Nome Autore</author> 
    </div>
    <div class="col-md-2">
        <i class= ""></i>
        <i class= ""></i>
        <i class= ""></i>
        <i class= ""></i>
        <i class= ""></i>        
    </div>
    <div class="col-md-2">
        EUR 10,99 <br/> <s>EUR 12,99</s>
    </div>
    <div class="col-md-2">
        <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id="5">Dettaglio Corso</a>
    </div>
</div>
<br/>
}
<